.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 300px;
  height: 200px;

  padding: 15px;
  border-radius: 10px;
  background-color: rgb(4, 61, 83);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  height: 25px;
  margin-bottom: 5px;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnLR {
  height: 40px;
  width: 200px;
  margin-top: 5px;
}

.success {
  color: white;
}

.failure {
  color: red;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 140px;
  font-size: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.card:hover {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}